* {
  box-sizing: border-box;
}

body {
  margin: 0;
  max-width: 33
}

main {
  max-width: 100%;
  width: 458px;
  margin: 5px;
}

.main-text {
  padding-bottom: 20px;
  padding-top: 130px;
  font-size: 30px;
}

.sub-text {
  font-size: 9px;
  padding: 100px 0 10px 0;
}

.main-text,
.sub-text {
  text-align: center;
  color: white;
}

.masthead header {
  text-decoration: none;
  color: #fff;
  width: 33%;
}

.masthead {
  background: #118BC0;
  height: 60px;
  padding: 10px 10px 0 0;
  margin: 0 5px 0 0;
  width: 458px;
}

#scroll-box1 {
  height: 1100px;
  background: #344051;
  width: 458px;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
}

.button-box {
  height: 65px;
  background: #118BC0;
  border-style: solid;
  border-color: #202830;
  border-width: meduim;
  max-width: 300px;
  margin: 50px 0 50px 75px;

}

.dash-box {
  height: 25px;
  margin: 94px 180px 50px 180px;
  background: white;
  padding: 0 10px 0 10px
}

.menu-box1 {
  height: 125px;
  margin: 64px 100px 50px 100px;
  background: white;
  padding: 0 10px 0 10px
}

.menu-box2 {
  height: 125px;
  margin: 64px 100px 50px 100px;
  background: white;
  padding: 0 10px 0 10px
}

.menu-box3 {
  height: 125px;
  margin: 64px 100px 50px 100px;
  background: white;
  padding: 0 10px 0 10px;
}

#break-box1{
  height: 200px;
  background: #E6EEF3;
}

#scroll-box2 {
  height: 1750px;
  background: #D1D3D7;
}

.mid-box1 {
  height: 225px;
  margin: 0px 80px 50px 20px;
  background: white;
  padding: 10px 10px 0 10px
}
.mid-box2 {
  height: 225px;
  margin: 64px 80px 50px 20px;
  background: white;
  padding: 0 10px 0 10px
}
.mid-box3 {
  height: 225px;
  margin: 64px 80px 50px 20px;
  background: white;
  padding: 0 10px 0 10px
}
.mid-box4 {
  height: 225px;
  margin: 64px 80px 50px 20px;
  background: white;
  padding: 0 10px 0 10px
}
.mid-box5 {
  height: 225px;
  margin: 64px 80px 50px 20px;
  background: white;
  padding: 0 10px 0 10px
}
.mid-box6 {
  height: 225px;
  margin: 64px 80px 50px 20px;
  background: white;
  padding: 0 10px 0 10px
}

#break-box2 {
  height: 200px;
  background: #E6EEF3;
}

.button-box2 {
    height: 35px;
    background: #118BC0;
    max-width: 300px;
    margin: 0 50px 50px 225px;
    padding: 10px 0 0 0;
}

#link-box {
  height: 150px;
  background: black;
}

.button-box3 {
    height: 25px;
    background: white;
    max-width: 300px;
    margin: 0 50px 50px 225px;
    padding: 10px 0 0 0;
}
